n8n_backups/n8n_crm_workflow.json
{
  "name": "CRM - Upsert Klient i Zamowienie",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zamowienie",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 300],
      "webhookId": "zamowienie-crm"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appbPeVGuTpCNJ2U8",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Klienci",
          "mode": "list"
        },
        "filterByFormula": "={Email} = '{{ $json.body.email }}'"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Szukaj Klienta",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [320, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Klient Istnieje?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [540, 300]
    },
    {
      "parameters": {
        "jsCode": "// GALAZ TRUE - Klient istnieje\nconst klient = $input.first().json;\n\nreturn [{\n  json: {\n    klientId: klient.id,\n    email: klient.fields?.Email,\n    nowyKlient: false\n  }\n}];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Istniejacy Klient",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 180]
    },
    {
      "parameters": {
        "jsCode": "// GALAZ FALSE - Nowy klient\n// Generuj kod polecajacy: 3 litery imienia + 3 cyfry\n\nconst body = $('Webhook').item.json.body;\nconst imie = body.imie || 'USR';\n\n// Usun polskie znaki i wez 3 pierwsze litery\nconst prefix = imie\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '')\n  .replace(/[^a-zA-Z]/g, '')\n  .substring(0, 3)\n  .toUpperCase()\n  .padEnd(3, 'X');\n\n// Losowe 3 cyfry (100-999)\nconst suffix = Math.floor(Math.random() * 900 + 100).toString();\n\nconst kodPolecajacy = prefix + suffix;\n\nreturn [{\n  json: {\n    email: body.email,\n    imie: body.imie,\n    nazwisko: body.nazwisko,\n    kodPolecajacy: kodPolecajacy,\n    uzytyKodRabatowy: body.uzyty_kod_rabatowy || null\n  }\n}];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Generuj Kod Polecajacy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 420]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appbPeVGuTpCNJ2U8",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Klienci",
          "mode": "list"
        },
        "fields": {
          "fieldRecord": [
            {
              "fieldId": "Email",
              "fieldValue": "={{ $json.email }}"
            },
            {
              "fieldId": "Imie",
              "fieldValue": "={{ $json.imie }}"
            },
            {
              "fieldId": "Nazwisko",
              "fieldValue": "={{ $json.nazwisko }}"
            },
            {
              "fieldId": "KodPolecajacyWlasny",
              "fieldValue": "={{ $json.kodPolecajacy }}"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "Utworz Klienta",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [1020, 420]
    },
    {
      "parameters": {
        "jsCode": "// Przygotuj ID nowego klienta\nconst nowyKlient = $input.first().json;\n\nreturn [{\n  json: {\n    klientId: nowyKlient.id,\n    email: nowyKlient.fields?.Email,\n    nowyKlient: true,\n    kodPolecajacy: nowyKlient.fields?.KodPolecajacyWlasny\n  }\n}];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000007",
      "name": "Nowy Klient ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1260, 420]
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "empty"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000008",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appbPeVGuTpCNJ2U8",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Zamowienia",
          "mode": "list"
        },
        "fields": {
          "fieldRecord": [
            {
              "fieldId": "Klient",
              "fieldValue": "={{ [$json.klientId] }}"
            },
            {
              "fieldId": "Status",
              "fieldValue": "Nowe"
            },
            {
              "fieldId": "EmailGosc",
              "fieldValue": "={{ $json.email }}"
            },
            {
              "fieldId": "IlosciProduktow",
              "fieldValue": "={{ JSON.stringify($('Webhook').item.json.body.produkty) }}"
            },
            {
              "fieldId": "MetodaPlatnosci",
              "fieldValue": "={{ $('Webhook').item.json.body.metodaPlatnosci }}"
            },
            {
              "fieldId": "AdresDostawy",
              "fieldValue": "={{ $('Webhook').item.json.body.adres }}"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000009",
      "name": "Utworz Zamowienie",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [1720, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, numerZamowienia: $json.id, klientId: $('Merge').item.json.klientId, nowyKlient: $('Merge').item.json.nowyKlient, message: 'Zamowienie utworzone' }) }}"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000010",
      "name": "Odpowiedz",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1940, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Szukaj Klienta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Szukaj Klienta": {
      "main": [
        [
          {
            "node": "Klient Istnieje?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Klient Istnieje?": {
      "main": [
        [
          {
            "node": "Istniejacy Klient",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generuj Kod Polecajacy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Istniejacy Klient": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generuj Kod Polecajacy": {
      "main": [
        [
          {
            "node": "Utworz Klienta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Utworz Klienta": {
      "main": [
        [
          {
            "node": "Nowy Klient ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nowy Klient ID": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Utworz Zamowienie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Utworz Zamowienie": {
      "main": [
        [
          {
            "node": "Odpowiedz",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {}
}
